.about {
  position: relative;
  background-color: white;
  .section-with-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* padding: 5%; */
    position: relative;
  }

  .left-image {
    width: 100%;
    padding-top: 15%;
  }
  .right-image {
    width: 100%;
    padding-bottom: 15%;
  }

  .left-image img {
    clip-path: circle();
    width: 100%;
  }
  .right-image img {
    width: 100%;
    clip-path: circle();
  }

  .center-content {
    flex: 0 0 60%;
    margin: 3%;
    text-align: center;
  }

  .center-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .center-content p {
    font-size: 1.2rem;
    color: #666;
  }

  @media screen and (max-width: 600px) {
    .section-with-images {
      display: flex;
      flex-direction: column;
    }
    .left-image {
      padding: 0;
      padding-left: 50%;
    }
    .right-image {
      padding: 0;
      padding-right: 50%;
    }
  }
}
