.slideshow-container {
    max-width: 100%;
    margin: 0;
  }
  
  /* Optional: Style for individual slides */
  .slick-slide {
    text-align: center;
    width: 100%;
  
  }
  
  .slick-track{
    width: 100%;
  }
  
  /* Optional: Style for dots (pagination) */
  .slick-dots {
    bottom: 20px;
    position: absolute;
  }
  
  .slick-dots li button:before {
    color: #fff;
  }