.containerw {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}

.section2 {
  background-color: #ffffff;
}

.img1 {
  width: 400px;
  padding: 60px;
}

.head1 {
  font-family: "EB Garamond";
  color: #323232;
  font-size: 60px;
}

.head2 {
  color: #323232;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  padding: 2%;
}

.getin {
  font-size: 30px;
}

@media (max-width: 600px) {
  .containerw {
    padding: 5%;
    flex-direction: column;
  }
  .head2{
    font-size: 19px;
  }
}
